/* LICENSE & DETAILS
==================================================
    Theme Name: Real Spaces 
	Theme URI: preview.imithemes.com/themes/real-spaces
	Author: imithemes
	Author URI: www.imithemes.com
	Description: <strong>Responsive Wordpress Theme for Real Estates, Designed & Developed by imithemes</strong> - <a href="http://www.imithemes.com">www.imithemes.com</a>. Follow us for update notifications:<br/> <a href='http://twitter.com/imithemes'>Twitter</a><br/> | <a href='http://www.facebook.com/imithemes'>Facebook</a>
	Version: 1.2.1
	License: GNU General Public License version 3.0
	License URI: http://www.gnu.org/licenses/gpl-3.0.html
	All files, unless otherwise stated, are released under the GNU General Public License
	version 3.0 (http://www.gnu.org/licenses/gpl-3.0.html)
/* Stylesheets and Google fonts import */

/*  CSS definations for Real Spaces  */
/*-------------------------------------------------------------------------------------------*/
/* 0. RESET */
/*-------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	outline:none;
}
iframe{
	border:0;
}
/* ==================================================
   Basic Styles
================================================== */
html, body {
	height: 100%;
}
html, hmtl a{
	width:100%;
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}
a{
	color:#5e5e5e;
	text-decoration: underline;
	cursor: pointer;
	
	-webkit-transition: color 0.1s linear 0s;	
	   -moz-transition: color 0.1s linear 0s;
		 -o-transition: color 0.1s linear 0s;
		    transition: color 0.1s linear 0s;
}
a:hover{
	text-decoration:none;
}
a:hover,
a:active,
a:focus{
	outline: 0;
	color:#666666;
}
a img {
	border: none;
}
a > img {
	vertical-align: middle;	
}
.gray-bg{
	background:#bababa;
}
.gray-text{
	color:#bababa;
}
.lgray-bg{
	background:#f8f8f8;
}
.dgray-bg{
	background:#333333;
}
img {
	max-width: 100%;	
}
img, object, embed, audio, video {
	max-width: 100%;
}
img {
	height: auto;
}
strong, .strong {
  	font-weight: 700;
}
p {
	margin: 0 0 20px;
}
i, em, .italic{
	font-style:italic;
}
.uppercase{
	text-transform:uppercase;
}
.align-left{
	float:left;
	margin:0 25px 0 0px!important;
}
.align-right{
	float:right;
	margin:0 0 0 25px!important;
}
.text-align-left {
	text-align: left;
}
.text-align-center {
	text-align: center;
}
.text-align-right {
	text-align: right;	
}
.color-text {
    color: #ffffff;
}
.through{
	text-decoration:line-through;
}
.border-radius{
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
}
/* ==================================================
   Typography
================================================== */
h1,
h2,
h3,
h4,
h5,
h6{
	margin:0 0 15px 0;
	color:#333333;
	font-weight:400;
	line-height:1.5em;
	font-family: 'Montserrat', sans-serif;
}
h1{
	font-size:36px;
}
h2{
	font-size:30px;
}
h3{
	font-size:24px;
}
h4{
	font-size:16px;
}
h5{
	font-size:14px;
	font-weight:700;
}
h6{
	font-size:12px;
}
h1.short, h2.short, h3.short, h4.short, h5.short, h6.short, p.short{
	margin-bottom:5px;
}
h1.spaced, h2.spaced, h3.spaced, h4.spaced, h5.spaced, h6.spaced {
    margin-top: 22px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	color:#333333;
	text-decoration:none;
}
.huge{
	font-size:10em;
}
blockquote{
	margin:30px 0;
	padding:0 0 0 30px;
	border-left:3px solid;
}
blockquote p{
	margin-bottom:0;
	white-space:normal;
	font-style:italic;
	font-size:20px;
	font-family: Georgia, serif;
}
blockquote cite{
	color:#ffffff;
}
blockquote cite:before{
	content:"- ";
}
p{
	font-size:13px;
	line-height:20px;
	margin:0 0 15px 0;
	text-align: justify;
}
p.md{
	font-size:16px;
	line-height:22px;
}
p.lg{
	font-size:30px;
	line-height:1.2em;
}
.big{
	font-size:200%;
	line-height:1.5em;
}
.thin{
	font-weight:300;
}
p.drop-caps:first-child:first-letter {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    padding: 4px;
    font-size: 75px;
	font-family:Georgia, serif;
    line-height: 60px;
}
p.drop-caps.secondary:first-child:first-letter {
    margin-right: 10px;
    padding: 6px 12px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
}
hr{
	display:block;
	clear:both;
	margin-top:20px;
	margin-bottom:20px;
	width:100%;
	height:1px;
	border:0;
	background:#eee;
}
hr.fw{
	display:block;
	clear:both;
	margin-top:0;
	margin-bottom:50px;
	width:100%;
	height:1px;
	border:0;
	background:#eee;
}
hr.sm{
	display:inline-block;
	margin:15px 0;
	width:40px;
	height:2px;
	border:0;
	background:#eee;
}
ul.checks, ul.angles, ul.carets, ul.chevrons{
	margin:0;
	list-style-type:none;
	margin-bottom:15px;
}
ul.checks > li, ul.angles > li, ul.carets > li, ul.chevrons > li{
	margin:10px 0;
}
ul.checks > li > i, ul.angles > li > i, ul.carets > li > i, ul.chevrons > li > i{
	margin-right:2px;
}
ul.inline{
	margin:0;
	list-style-type:none;
	margin:10px 0;
}
ul.inline > li{
	display:inline-block;
	margin-right:10px;
}
ul.inline > li i.fa{
	margin-right:2px;
}
ul.nav-list-primary{
	margin:0;
	list-style-type:none;
}
ul.nav-list-primary > li a{
	display:block;
	padding:8px;
	border-bottom:1px solid #efefef;
	color:#666666;
	text-decoration:none;
}
ul.nav-list-primary > li a:hover{
	text-decoration:none;
}
ul{
	margin:10px 0 10px 20px;
	list-style-type:disc;
}
ol{
	margin:10px 0 10px 30px;
	list-style-type: decimal;
}
ul ul, ol ul{
	margin:10px 0 10px 20px;
}
ul ul{
	list-style-type:circle;
}
dl{
	margin:10px 0;
}
dl dt{
	font-weight:700;
}
address.ico i{
	display:inline-block;
	float: left;
	clear:both;
	padding-top: 3px;
}
address.ico p{
	margin:0;
	padding-bottom:10px;
}
address.ico span{
	display:inline-block;
	padding-left:20px;
}
.cursive{
	font-family: Georgia, serif;
	font-style:italic;
	text-transform:none;
	font-weight:400;
	letter-spacing:0;
}
label {
  	display: inline-block;
  	margin-bottom: 5px;
  	font-weight: bold;
}
.form-control{
	margin-bottom:5px;
	width: 100% ;
	height: 38px;
	float: left;
	margin: 0 5px;
}
/* ==================================================
   Margin Bottom Sets
================================================== */
.margin-0{
	margin-bottom:0 !important;
}
.margin-10{
	margin-bottom:10px !important;
}
.margin-15{
	margin-bottom:15px !important;
}
.margin-20{
	margin-bottom:20px !important;
}
.margin-30{
	margin-bottom:30px !important;
}
.margin-40{
	margin-bottom:40px !important;
}
.margin-50{
	margin-bottom:50px !important;
}
.margin-60{
	margin-bottom:60px !important;
}
.margin-70{
	margin-bottom:70px !important;
}
.margin-80{
	margin-bottom:80px !important;
}
.push-top{
	margin-top:35px;
}
/* ==================================================
   Padding Sets
================================================== */
.padding-b0{
	padding-bottom:0!important;
}
.padding-tb20{
	padding-top:20px;
	padding-bottom:20px;
}
.padding-tb30{
	padding-top:30px;
	padding-bottom:30px;
}
.padding-tb45{
	padding-top:45px;
	padding-bottom:45px;
}
.padding-tb75{
	padding-top:75px;
	padding-bottom:75px;
}
.padding-tb100{
	padding-top:100px;
	padding-bottom:100px;
}
.padding-tb125{
	padding-top:125px;
	padding-bottom:125px;
}
.padding-as25{
	padding:25px;
}
/* ==================================================
   Spacers
================================================== */
.spacer-20{
	height:30px;
	clear:both;
	width:100%;
}
.spacer-30{
	height:30px;
	clear:both;
	width:100%;
}
.spacer-40{
	height:40px;
	clear:both;
	width:100%;
}
.spacer-50{
	height:50px;
	clear:both;
	width:100%;
}
.spacer-75{
	height:75px;
	clear:both;
	width:100%;
}
.spacer-100{
	height:100px;
	clear:both;
	width:100%;
}
/* ----------------------------------------------------------------------------------------- */
/* Multi purpose classes */
/* ----------------------------------------------------------------------------------------- */
.overlay-transparent{
	background:rgba(0,0,0,.6);
}
.btn{
	border-width: 0;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.18);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  	text-decoration:none;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.btn-default{
	border-width:1px;
	box-shadow:none;
	text-shadow:none;
}
.btn:hover, .btn:active, .btn:focus{
  opacity:.9
}
.checkers-overlay{
	background:url(images/checkers.png) repeat;
}
.pattern-overlay{
	background:url(images/pattern.png) repeat;
}
ul.social-icons{
	margin:0;
	list-style-type:none;
}
.social-icons a{
	margin:0 8px;
	text-decoration:none;
}
.next-prev-nav{
	display:inline-block;
}
.next-prev-nav a{
	display:inline-block;
	width:20px;
	height:20px;
	color:#fff;
	text-align:center;
	line-height:20px;
	text-decoration:none;
}
.next-prev-nav a:hover{
	color:#fff;
}
.bypostauthor{
	display:block;
	margin-bottom:10px;
	font-size:12px;
	font-style:italic;
	color:#999999;
	padding:0!important;
	border-bottom-width:3px!important;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.meta-data{
	display:block;
	margin-bottom:10px;
	font-size:12px;
	font-style:italic;
	color:#999999;
	padding:0!important;
	border-bottom-width:3px!important;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.meta-data a{
	color:#666666;
}
.meta-data a i{
	color:#999999;
}
.meta-data a:hover{
	text-decoration:none;
}
.meta-data > span{
	display:inline-block;
	padding:10px 20px;
	border-right:1px solid #efefef;
}
.meta-data i{
	margin-right:4px;
}
.meta-data > span:last-child{
	border-right:0;
}
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}
.media-box{
	position:relative;
	display:block;
	max-width:100%;
}
.media-box .zoom, .media-box .expand{
	position:absolute;
	width:100%;
	height:100%;
	text-align:center;
	color:#ffffff!important;
	font-size:1.5em;
	z-index:999;
	left:0;
	top:0;
	margin:0;
	background-color:rgba(0,0,0,.5);
	opacity:0;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
}
.img-thumbnail img:hover, .img-thumbnail:hover{
	opacity:.9
}
.media-box:hover .zoom, .media-box:hover .expand{
	opacity:1;
	-webkit-transition: opacity .3s .2s;
	-moz-transition: opacity .3s .2s;
	-ms-transition: opacity .3s .2s;
	-o-transition: opacity .3s .2s;
	transition: opacity .3s .2s;
}
.selectpicker{
	font-weight:400;
	padding-top:5px;
	padding-bottom:5px;
	0px 1px 3px rgba(0, 0, 0, 0.075) inset
}
.widget_search_properties .selectpicker{
	padding-bottom:6px;
}
.input-lg.selectpicker{
	padding-top:12px;
	padding-bottom:11px;
}
.bootstrap-select.form-control{
	margin-bottom:20px!important;
}
.bootstrap-select.margin-0{
	margin-bottom:0px!important;
}
.owl-carousel{
	margin:0;
	list-style-type:none;
}
/*-------------------------------------------------------------------------------------------*/
/* SITE STRUCTURE & APPEARANCE */
/*-------------------------------------------------------------------------------------------*/
body{
	background-color:#ffffff;
	color:#666666;
	font-size:13px;
	font-weight:400;
	font-family: 'Open Sans', sans-serif;
	line-height:20px;
	background-attachment:fixed;
}
body.boxed .body{
	position:relative;
	margin:25px auto;
	max-width:1080px;
	width:100%;
	height:auto;
	background-color:#ffffff;
	-webkit-box-shadow:0 0 2px rgba(0,0,0,.2);
	-moz-box-shadow:0 0 2px rgba(0,0,0,.2);
	box-shadow:0 0 2px rgba(0,0,0,.2);
}
@media (min-width: 1200px) {
body.boxed .body .site-header, body.boxed .body .main-menu-wrapper{
	max-width:100%;
	width:1080px;
}
}
.site-header{
	width:100%;
	float: left;
	position: relative;
}
.admin-bar .is-sticky .main-menu-wrapper{
	top:28px!important;
}
.top-header{
	height:30px;
	width:100%;
	float: left;	
	z-index: 1;
	position: relative;	
}
.top-header .acceso_clientes{
	float: left;
	margin: 0;
}
.top-header .acceso_clientes .form{
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
}
.top-header .acceso_clientes .form input{
	float: left;	
	height: 30px;
	padding: 5px 12px;
	color: #000082;
	max-width: 140px;
	border-radius: 0 !important;
	border: 1px solid #000082;	
	border-left: none;
}
.top-header .acceso_clientes .form input#send{
	color: #fff;
}
.top-header a{
	float: right;
	color: #fff;
	text-decoration: none;
}
.top-header a:hover{
	color: #fff;
}
.middle-header{
	float: left;
	width: 100%;	
	position:relative;
	z-index:8;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.1);
	box-shadow:0 1px 2px rgba(0,0,0,.1);
}
.site-header h1.logo{
	position:relative;
	z-index:1300;
	display: block;
	margin:0;
	padding: 0;
	vertical-align: middle;
	line-height: 0;
	padding-bottom: 10px;
	padding-top: 10px;
}
.logo a{
	display:block;
    vertical-align:middle;
	text-decoration:none;
}
.horiz-nav{
	list-style-type: none;	
	margin: 28px 0 0;	
}
.horiz-nav > li{
	float:left;
}
.horiz-nav > li.social_link a {
  background: #fff !important ;
  text-align: center;
  width: 37px;
  padding: 0 0;
   border-radius: 0px;
  line-height: 35px;
  margin-right: 5px;
  font-size: 1.5em;
  color: #fff;
    padding-left: 1px;
}
.horiz-nav > li.social_link[data-net="fa-facebook"] a{
	background: #3b5998;
	 
}
.horiz-nav > li.social_link[data-net="fa-flickr"] a{
	background: #ff0084;
	 
}
.horiz-nav > li.social_link[data-net="fa-pinterest"] a{
	background: #cc2127;
	 
}
.horiz-nav > li.social_link[data-net="fa-youtube"] a{
	background: #b31217;
	 
}
.horiz-nav > li.social_link[data-net="fa-twitter"] a{
	background: #55acee;
	 
}
.horiz-nav > li.social_link[data-net="fa-instagram"] a{
	background: #3f729b;
	 
}
.horiz-nav > li > a{
	display:inline-block;
	padding:0 18px;
	line-height:30px;
	text-decoration:none;
	border-right:1px solid rgba(0,0,0,.1);
	color: #000082;
	font-size: 1.45em;
}
.horiz-nav > li > a:hover{
	background:rgba(0,0,0,.05)
}
.horiz-nav > li:first-child > a{
/*	border-left:1px solid rgba(0,0,0,.1);*/
}
.horiz-nav a{
	text-decoration:none;
}
.boxed .horiz-nav.pull-left li:first-child a{
	border-left:0;
}
.boxed .horiz-nav.pull-right li:last-child a{
	border-right:0;
}
.contact-info-blocks{
	float: left;
}
.contact-info-blocks > div{
	display:inline-block;
	padding:0 20px;
	border-right:1px solid #efefef;
	color:#FFF;
	text-align:left;
}
.contact-info-blocks > div:last-child{
	border-right:0;
	padding-right:0;
}
.contact-info-blocks > div > span{
	display:block;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	color:#FFF;
	float: right;
	padding-left: 5px;
}
.contact-info-blocks > div > a{
	display:block;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	color:#FFF;
	text-decoration: none;
	padding-left: 5px;
}
.contact-info-blocks > div > i{
	color: #FFF!important;
}
.site-header .menu-toggle{
	font-size:18px;
	margin:30px 10px 0 0;
	float:right;
}
.site-header .menu-toggle:focus{
	outline:0;
}
.main-menu-wrapper{
	display:block;
	position:relative;
	background:#fff;
	z-index:6;
	width:100%;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.1);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,.1);
	box-shadow:0 1px 2px rgba(0,0,0,.1);
	background:#f8f8f8;
}
.navigation{
	height:50px;
	text-align:center;
}
.navigation > ul{
	margin:0;
	list-style-type:none;
}
.navigation > ul > li{
	float:left;
	font-size:15px;
	position:relative;
}
.navigation > ul > li i{
	font-size:11px;
	margin-left:5px;
}
.navigation > ul > li > a{
	padding: 12px 16px;
	display: block;
	text-decoration: none;
	border-right: 1px solid rgba(0,0,0,.05);
	font-size: .9em;
	border-top:3px solid transparent;
}
.navigation > ul > li:first-child > a{
	border-left:1px solid rgba(0,0,0,.05);
}
.navigation ul > li:hover > a, .navigation ul > li.current_menu_item > a{
	border-top:3px solid #000082; 	
	padding: 12px 16px;
	background:#fff;
}
.navigation > ul > li ul{
	position:absolute;
	margin:0;
	list-style-type:none;
	top:100%;
	left:0;
	z-index:999;
	display:none;
	min-width:100%;
	height:auto;
	background:#fff;
	text-align:left;
	box-shadow:0 2px 2px rgba(0,0,0,.3);
}
.navigation > ul > li:hover ul{
	display:block;
}
.navigation > ul > li > ul li{
	line-height: normal;
	font-size:14px;
	position:relative;
}
.navigation > ul > li > ul li > a{
	display:block;
	padding:10px 25px;
	border-bottom:1px solid #f8f7f3;
	white-space:nowrap;
	text-decoration:none;
}
.navigation > ul > li > ul > li:hover > a, .navigation > ul > li > ul > li > ul > li:hover > a{
	text-decoration:none;
	padding:10px 25px;
	color:#ffffff;
	border-top:0;
}
.navigation > ul > li > ul li:last-child a{
	border-bottom:0;
}
.navigation > ul > li > ul li ul{
	margin:0;
	list-style-type:none;
	left:100%!important;
	top:0;
	min-width: inherit;
	position:absolute;
	box-shadow:0 2px 2px rgba(0,0,0,.3);
}
.boxed .navigation > ul > li:first-child a{
	border-left:0;
}
.boxed .navigation > ul > li:last-child a{
	border-right:0;
}
.sticky-wrapper{
	max-height:50px;
	float: left;
	width: 100%;
}
.is-sticky .main-menu-wrapper{
	z-index:1000;
	min-height:50px;
	background-color:#ffffff;
	-webkit-box-shadow:0 1px 0 rgba(0,0,0,.1);
	-moz-box-shadow:0 1px 0 rgba(0,0,0,.1);
	box-shadow:0 1px 0 rgba(0,0,0,.1);
}
.is-sticky .navigation{
	background:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
/* Site Showcase */
.site-showcase{
	position:relative;
	z-index:4;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
}
/* Hero Slider */
.flexslider {
	margin: 0;
	padding: 0;
	background:url(images/loader.gif) no-repeat scroll center center;
}
.flexslider .slides{
	margin:0;
	list-style-type:none;
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
} 
html[xmlns] .slides {
	display: block;
} 
* html .slides {
	height: 1%;
}
.flexslider .slides {
	zoom: 1;
}  
.slider-mask{
	width:100%;
	height:450px;
	position:absolute;
	z-index:5;
	display:block;
	display:none;
}
.hero-slider{
	position:relative;
	top:0;
	left:0;
	z-index:2;
	height:450px;
	width:100%;
	overflow:hidden;
}
.hero-slider .flex-viewport{
	width:100%;
}
.hero-slider.flexslider > ul.slides{
	height:100%;
}
.hero-slider.flexslider ul.slides li{
	height:450px;
	width:100%;
	overflow:hidden;
	position:static;
	background-attachment:scroll!important
}
.flex-caption{
	display:none;
	margin:0 auto;
	margin-top:110px;
	text-align:center;
	width:230px;
	background:#ffffff;
	border-top:3px solid rgba(0,0,0,.8);
	position:absolute;
	right:50%;
	margin-right:-500px;
	position:relative;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.gallery-caption{
	display:none;
	margin:0 auto;
	margin-top:110px;
	text-align:center;
	width:230px;
	background:#ffffff;
	border-top:3px solid rgba(0,0,0,.8);
	position:absolute;
	right:50%;
	margin-right:-500px;
	position:relative;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.flex-caption strong.title{
	font-size:20px;
	display:block;
	font-weight:normal;
	padding:20px;
	padding-bottom:10px
}
.flex-caption strong.title em{
	font-style:italic;
	font-size:14px;
	font-weight:400;
	color:#999999;
}
.flex-caption .btn{
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
	margin-top:10px;
}
.flex-caption .fa-caret-down{
	color:#ffffff;
	position:absolute;
	left:-9px;
	top:0;
	font-size:30px;
}
.flex-caption .hero-agent-pic{
	border:3px solid #ffffff;
	border-radius:100%;
	width:80px;
	height:80px;
	position:absolute;
	left:-100px;
	top:-30px;
	z-index:2;
	-webkit-box-shadow:inset 0 0 8px rgba(0,0,0,.3), 0 0 3px rgba(0,0,0,.3);
	box-shadow:inset 0 0 8px rgba(0,0,0,.3), 0 0 3px rgba(0,0,0,.3);
}
.flex-caption .hero-agent-contact{
	position:absolute;
	left:-115px;
	top:20px;
	z-index:3;
	background:#f8f8f8;
	border:3px solid #ffffff;
	border-radius:100%;
	width:40px;
	height:40px;
	text-align:center;
	line-height:33px;
	-webkit-box-shadow:inset 0 0 1px rgba(0,0,0,.1), 0 0 3px rgba(0,0,0,.3);
	box-shadow:inset 0 0 1px rgba(0,0,0,.1), 0 0 3px rgba(0,0,0,.3);
}
.flex-caption .hero-agent-contact:hover{
	background:#efefef;
}
.flex-direction-nav{
	margin:0;
	list-style-type:none;
}
.flexslider .flex-control-nav{
	margin:0;
	list-style-type:none;
	width:100%;
	text-align:center;
	position:absolute;
	z-index:111;
	left:0;
	bottom:10px;
	padding:0;
	margin:0;
}
.hero-slider.flexslider .flex-control-nav{
	bottom:-40px;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
}
.hero-slider.flexslider:hover .flex-control-nav{
	bottom:10px;
	-webkit-transition: bottom .3s .2s;
	-moz-transition: bottom .3s .2s;
	-ms-transition: bottom .3s .2s;
	-o-transition: bottom .3s .2s;
	transition: bottom .3s .2s;
}
.flexslider .flex-control-nav li{
	display:inline;
}
.flexslider .flex-control-nav a{
	width:25px;
	height:8px;
	background-color:#ffffff;
	display:inline-block;
	margin:0 6px;
	text-indent:-9999px;
	text-decoration:none;
}
.flexslider .flex-prev, .flexslider .flex-next{
	background:rgba(0,0,0,.6);
	color:#f8f7f3;
	display:block;
	margin-bottom:10px;
	position:absolute;
	top:50%;
	right:10px;
	font-size:14px;
	line-height:25px;
	width:25px;
	height:25px;
  	display: inline-block;
  	font-family: FontAwesome;
  	font-style: normal;
  	font-weight: normal;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	text-decoration:none;
	display:none;
	text-align:center;
	border-radius:5px;
}
.flexslider .flex-prev{
	left:10px;
	right:auto;
}
.flexslider .flex-prev:before{
  content: "\f104";
}
.flexslider .flex-next:before{
  content: "\f105";
}
.hero-slider.flexslider .flex-prev, .hero-slider.flexslider .flex-next{
	width:40px;
	height:40px;
	right:-40px;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
	font-size:20px;
	line-height:40px;
	display:block;
	margin-top:-20px;
}
.flexslider:hover .flex-prev, .flexslider:hover .flex-next{
	display:block;
}
.hero-slider.flexslider .flex-prev{
	left:-40px;
}
.hero-slider.flexslider:hover .flex-prev{
	left:10px;
	-webkit-transition: left .3s .2s;
	-moz-transition: left .3s .2s;
	-ms-transition: left .3s .2s;
	-o-transition: left .3s .2s;
	transition: left .3s .2s;
}
.hero-slider.flexslider:hover .flex-next{
	right:10px;
	-webkit-transition: right .3s .2s;
	-moz-transition: right .3s .2s;
	-ms-transition: right .3s .2s;
	-o-transition: right .3s .2s;
	transition: right .3s .2s;
}
.touch .property-slider .flex-direction-nav{display:none;}
#gmap{
	height:550px;
	overflow:hidden;
  	position: relative;
}
#gmap.map-single-page{
	height:200px;
}
#gmap img {
  	max-width: none;
}
#gmap .map-property {
  	padding-bottom: 10px;
  	width: 310px;
}
#gmap .property-featured-image {
	margin-bottom:10px;
	margin-right:20px;
	float:left;
}
#onemap{
	height:550px;
	overflow:hidden;
  	position: relative;
}
#onemap.map-single-page{
	height:200px;
}
#onemap img {
  	max-width: none;
}
#onemap .map-property {
  	padding-bottom: 10px;
  	width: 310px;
}
#onemap .property-featured-image {
	margin-bottom:10px;
	margin-right:20px;
	float:left;
}
.site-search-module{
	position:absolute;
	z-index: 30;
	height: 190px;
	bottom: -107px;
	left: 0;
	width: 100%;
}
.site-search-module-inside{
	padding:15px 15px 0;
	height:175px;
	background:#f8f8f8;
	border-top:3px solid rgba(0,0,0,.8);
	border-radius:2px 2px 0 0
}
.site-search-module-inside .btn{
	padding-top:14px;
	padding-bottom:12px;
}
.site-search-module-inside .selectpicker.btn{
	padding-top:12px;
}
#ads-trigger{
	display:inline-block;
	padding-top:11px;
	padding-bottom:11px;
}
.main{
	float: left;
	width: 100%;
	position:relative;
	background:#ffffff;
	-webkit-box-shadow:0 -2px 2px rgba(0,0,0,.05);
	-moz-box-shadow:0 -2px 2px rgba(0,0,0,.05);
	box-shadow:0 -2px 2px rgba(0,0,0,.05);
}
.home .main{
	z-index:5;
}
.content{
	padding:50px 0;
}
.featured-blocks{
	margin-bottom:10px;
}
.featured-block{
	position:relative;
	text-align:center;
}
.featured-block img{
	width:80%;
	display:inline-block;
	border-radius:100%;
	margin-bottom:10px;
}
.featured-blocks h3{
	font-size: 2.4em;
	margin: 10px 0 0;
}
.featured-block p{	
	margin-bottom:0;
	  text-align: center;
}
.property-block{
	border:1px solid #eee;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
	background:#ffffff;
}
.property-block:hover{
	-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}
.property-featured-image, .agent-featured-image{
	display:block;
	position:relative;
	min-height: 295px;
}
.property-featured-image img, .agent-featured-image img{
	min-width:100%;
}
.overlay{
	width:100%;
	height:100%;
	line-height:100%;
	position:absolute;
	left:0;
	top:0;
	color:#fff;
	font-size:24px;
	text-align:center;
	display:block;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
	opacity:0;
	background:rgba(0,0,0,.4);
}
.property-featured-image:hover .overlay, .agent-featured-image:hover .overlay{
	-webkit-transition: opacity .3s .2s;
	-moz-transition: opacity .3s .2s;
	-ms-transition: opacity .3s .2s;
	-o-transition: opacity .3s .2s;
	transition: opacity .3s .2s;
	opacity:1;
}
#featured-properties .overlay{
	line-height:310px!important;
}
.property-featured-image .images-count{
	position:absolute;
	bottom:0;
	right:0;
	z-index:9;
	color:#ffffff;
	background:rgba(0,0,0,.5);
	padding:5px 10px;
}
.property-featured-image .badges{
	position:absolute;
	z-index:0;
	left:10px;
	top:10px;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	width:50px;
	height:50px;
	line-height:50px;
	text-align:center;
	background:#fff;
	font-weight:700;
}
.property-info, .agent-info{
	padding:15px;
	display:block;
	border-bottom:1px solid #efefef;
}
.property-amenities{
	background:#f8f8f8;
}
.property-amenities > span{
	display:block;
	width:25%;
	float:left;
	padding:4px 0 4px 0;
	text-align:center;
	font-size:11px;
	text-transform:uppercase;
	border-right:1px solid #efefef;
}
.property-amenities > span:last-child{
	border-right:none;
}
.property-amenities > span > strong{
	display:block;
	font-size:14px;
}
.property-info h4, .agent-info h4{
	margin-bottom:0;
}
.property-info .location{
	display:block;
	font-size:100%;
	padding:0 0 10px 0;
}
.price, .counts{
	display:inline-block;
	background:#666;
	color:#fff;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	height:30px;
}
.price strong, .counts strong{
	background:rgba(0,0,0,.1);
	padding:0 7px;
	-webkit-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
	line-height:30px;
	height:30px;
	display: inline-block;
	font-weight:400;
}
.price span, .counts span{
	padding:0 7px;
	line-height:30px;
	height:30px;
	font-weight:700;
}
#latest-properties .property-block{
	margin-bottom:40px;
}
.block-heading-fw{
	background:#fff;
	padding:10px 0;
	-webkit-box-shadow:0 2px 0 rgba(0,0,0,.07);
	box-shadow:0 2px 0 rgba(0,0,0,.07);
}
.block-heading-fw h3{
	margin-bottom:0;
}
.block-heading-fw .btn-sm{
	margin-top:5px;
}
.sort-source a{
	text-decoration:none;
}
.block-heading{
	background: #8FBD15;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	height:50px;
	margin-bottom:30px;
}
.block-heading h4{
	line-height:50px;
	color:#ffffff;
	display:inline-block;
	padding-right:20px;
	-webkit-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
}
.block-heading .heading-icon{
	background:rgba(0,0,0,.1);
	width:50px;
	text-align:center;
	margin-right:20px;
	display:inline-block;
	-webkit-border-radius:3px 0 0 3px;
	-moz-border-radius:3px 0 0 3px;
	border-radius:3px 0 0 3px;
	position:relative;
}
.block-heading .heading-icon .icon-design{
	color:rgba(0,0,0,.1);
	font-size:20px;
	position:absolute;
	right:-7px;
	top:16px;
}
.block-heading .btn-sm{
	margin:12px 17px 0 0 ;
}
.bottom-blocks h3{
	margin-bottom:30px;
}
.features-list ul{
	margin:0;
	list-style-type:none;
}
.features-list li .icon{
	font-size:30px;
	line-height:40px;
	float:left;
	width:15%;
}
.features-list li .text{
	float:left;
	width:85%;
}
.features-list li .text h4{
	margin-bottom:5px;
}
.widget_popular_agent .img-thumbnail{
	margin-bottom:15px;
}
.contact-info{
	margin:0;
	list-style-type:none;
}
.contact-info li{
	margin:5px 0;
	border-bottom:0!important;
	white-space:nowrap;
}
.contact-info li i{
	margin-right:7px;
}
.testimonials{
	margin:0;
	list-style-type:none;
}
.testimonials > li{
	border-bottom:0!important;
}
.testimonials > li > p{
	border:1px solid #efefef;
	background:#fff;
	padding:25px;
	position:relative;
}
.testimonials > li > p:before, .testimonials > li > p:after {
	content: "";
   	position: absolute;
   	width: 0;
   	height: 0;
   	border-style: solid;
   	border-color: transparent;
   	border-bottom: 0;
}
.testimonials > li > p:before {
  	bottom: -9px;
  	right: 31px;
	border-top-color: #efefef;
  	border-width: 10px;
}
.testimonials > li > p:after {
  	bottom: -8px;
  	right: 32px;
  	border-top-color: #fff;
  	border-width: 9px;
}
.testimonials > li .testimonial-sender{
	float:right;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	width:80px;
	height:80px;
	border:3px solid #fff;
	-webkit-box-shadow:0 0 2px #efefef;
	box-shadow:0 0 2px #efefef;
}
.testimonials > li cite{
	display:block;
	margin-top:40px;
}
.testimonials > li cite a{
	text-decoration:none;
	color:#999;
}
.site-footer{
	background-color:#f8f8f8;
	padding:30px 0 0 0;
	box-shadow:inset 0 2px 2px rgba(0,0,0,.07);
	float: left;
	width: 100%;
}
.site-footer .portal_in {
	margin-bottom: 30px;
	float: left;
	width: 100%;
}
.site-footer h3{
	color: #fff;
	text-align: center;
}
.site-footer ul{
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;	
}
.site-footer ul li {
	float: left;
	margin-bottom: 10px;
	width: 100%;
	border-bottom: none !important;
	text-align: center;	
}
.site-footer ul li a{	
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;	
	margin: 0;
}
.site-footer ul li a i,
.site-footer ul li p i{
	margin-right: 10px;
}
.site-footer ul li p{	
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 0 15px 0;
	margin: 0;
	text-align: center;
}
.site-footer-bottom{
	float: left;
	width: 100%;
	background-color:#eee;	
	padding:10px 0;
	font-size:12px;
}
.site-footer-bottom p{
	margin-bottom:0;
	font-size:12px;
	color: #fff;
}
.site-header .social-icons{
	margin-top:30px;
}
.site-footer-bottom .social-icons{
	text-align:right;
}
.site-footer-bottom .social-icons a{
	color: #fff;
	margin: 0 0 0 20px;
	text-decoration: none;
	font-size: 1.45em;
}
.site-footer-bottom .social-icons a:hover{
	background: transparent !important;
}
/* Property Listing */
.property-columns ul{
	margin:0;
	list-style-type:none;
}
.property-listing ul, .agents-listing ul{
	margin:0;
	list-style-type:none;
}
.property-listing > ul > li, .agents-listing > ul > li{
	border:1px solid #eee;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
	background:#ffffff;
	margin-bottom:25px;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:5px;
	padding-right:5px;
}
.property-listing > ul > li:hover, .agents-listing > ul > li:hover{
	-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}
.property-listing > ul > li:last-child, .agents-listing > ul > li:last-child{
	margin-bottom:0;
}
.property-listing .property-info, .agents-listing .agent-info{
	padding:0 0 10px 0;
	margin-top:-8px;
	border-bottom:0;
}
.property-listing .property-amenities{
	border-bottom:3px solid #efefef;
}
.property-listing .property-amenities strong{
	display:inline-block;
	margin-right:5px;
}
.agent-contacts li{
	display:inline-block;
	margin:5px 20px 0 0;
}
.agent-contacts a.btn-sm{
	margin-left:20px;
}
.property-listing .property-info .price, .agents-listing .agent-info .counts{
	float:right;
	margin-top:5px;
}
.property-listing h3{
	margin-bottom:0;
}
.property-grid > ul > li{
	margin-bottom:25px;
}
.toggle-view{
	margin:15px 20px 0 0;
}
.toggle-view a{
	margin-left:10px;
	color:#999;
	font-size:20px;
}
.toggle-view a.active{
	color:#666;
}
.pagination{
	margin-top:40px;
	margin-bottom:0;
}
.full-search-form{
	padding:15px;
	background:#efefef;
}
.full-search-form label{
	margin-top:0;
	padding-top:0;
	line-height:normal;
}
.page-header{
	margin:0;
	position:relative;
	padding: 60px 0;
	border:0;
	background-color:#666;
}
.page-header:before{
	content: '';
	background: rgba(0,0,0,0.5);
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	float: left;
}
.page-header h1{
	text-transform:uppercase;
	color:#ffffff;
	margin-bottom:0;
	line-height:1em;
}
.page-header p{
	color:#d8d6d1;
	margin:0;
}
.single-property .property-amenities{
	border-bottom:3px solid #efefef;
}
.single-property .property-amenities span{
	font-size:14px;
	width:16.5%
}
.single-property .property-amenities strong{
	display:inline-block;
	margin-right:5px;
}
.single-property h2.page-title{
	margin-bottom:10px;
}
.location{
	font-size:60%;
	color:#999;
	font-family: 'Open Sans', sans-serif!important;
	font-style:italic;
}
.location > i{
	opacity:.7;
}
.single-property .price{
	margin-bottom:22px;
	color:#fff;
}
.single-property .tabs{
	margin-bottom:0;
}
.single-property .agent{
	padding:25px;
	margin-bottom:30px;
	background:#f8f8f8;
}
.property-slider{
	margin:25px 0 35px 0;
}
.property-slider #property-images{
	position:relative;
	text-align:center;
}
.property-slider #property-images img{
	/*width:100%;*/
	height:auto;
}
.property-slider #property-thumbs{
	position:relative;
	background:#efefef;
	padding:10px;
}
.property-slider #property-thumbs .flex-prev{
	left:20px;
	margin-top:-10px;
}
.property-slider #property-thumbs .flex-next{
	right:20px;
	margin-top:-10px;
}
.property-slider #property-thumbs .slides li{
	margin:0 8px;
}
.property-slider #property-thumbs img{
	cursor:pointer;
	opacity:.7;
}
.property-slider #property-thumbs .flex-active-slide img{
	opacity:1;
}
.single-agent .contact-details{
	margin:20px 0;
}
.single-agent .counts{
	margin-top:10px;
}
.single-agent h2{
	margin-bottom:30px;
}
.gallery-listed{
	margin:0;
	list-style-type:none;
}
.grid-holder{
	margin:0;
	list-style-type:none;
	width: 105%;
	margin-left: -3%;
	float: left;
}
.grid-holder .grid-item{
	float: left;
}
.navbar-default a{
	text-decoration:none;
}
.property-listing .grid-holder{
	width:auto;
	margin-left:0;
	float:none;
}
.property-listing .grid-holder .grid-item{
	margin-left:0;
}
.grid-item, .gallery-item{
	margin-bottom: 3%;
	border-bottom: medium none;
}
.grid-item-inner{
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	background:#ffffff;
}
.grid-holder .grid-item{
	margin-left: 3%;
}
.grid-holder.col-2 .grid-item{
	width:49%;
}
.grid-holder.col-3 .grid-item{
	width:29.63%;
}
.grid-holder.col-4 .grid-item{
	width:21%;
}
.grid-media{
	position:relative;
}
.grid-content{
	padding:15px 20px 1px 20px;
}
.grid-content .fa-external-link{
	margin-left:10px;
}
.events-grid .grid-item{
}
.grid-item h3{
	line-height:1em;
}
.post-title{
	margin-bottom:0;
	padding-bottom:6px;
}
.post-content{
	padding-top:20px;
}
.post-content .featured-image{
	margin-bottom:20px;
}
.single-post-header{
	margin-bottom:0;
}
.posts-archive .post{
	margin-bottom:40px;
	padding-bottom:25px;
	border-bottom:1px solid #efefef;
}
.post.sticky{
	padding:20px;
	background:#f7f7f7;
}
.post.sticky .post-meta{
	background:#fff;
}
.posts-archive .post:last-child{
	margin-bottom:0;
}
.format-quote .grid-content p{
	font-size:24px;
	line-height:30px;
	font-style:italic;
}
.single-post-header .btn-toolbar{
	margin-top:8px;
}
/* Image Float Classes */
.alignright {float:right; margin:0 0 1em 1em}
.alignleft {float:left; margin:0 1em 1em 0}
.aligncenter {display: block; margin-left: auto; margin-right: auto}
a img.alignright {float:right; margin:0 0 1em 1em}
a img.alignleft {float:left; margin:0 1em 1em 0}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto}
.post-comments-count{
	margin-top:15px;
}
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}
.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: #eee;
	left: 50%;
	margin-left: -1.5px;
}
.timeline{
	margin:0;
	list-style-type:none;
}
.timeline > li {
	margin-bottom: 20px;
	position: relative;
}
.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}
.timeline > li:after {
	clear: both;
}
.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}
.timeline > li:after {
	clear: both;
}
.timeline > li > .timeline-panel {
	width: 46%;
	float: left;
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 20px;
	padding-top:10px;
	position: relative;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}
.timeline > li > .timeline-panel:before {
	position: absolute;
	top: 29px;
	right: -10px;
	display: inline-block;
	border-top: 10px solid transparent;
	border-left: 10px solid #eceae4;
	border-right: 0 solid #eceae4;
	border-bottom: 10px solid transparent;
	content: " ";
}
.timeline > li > .timeline-panel:after {
	position: absolute;
	top: 30px;
	right: -9px;
	display: inline-block;
	border-top: 9px solid transparent;
	border-left: 9px solid #fff;
	border-right: 0 solid #fff;
	border-bottom: 9px solid transparent;
	content: " ";
}
.timeline > li > .timeline-badge {
	color: #fff;
	width: 50px;
	height: 50px;
	padding-top:11px;
	font-size: 12px;
	line-height:12px;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -25px;
	background-color: #eee;
	z-index: 100;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}
.timeline > li > .timeline-badge span{
	font-size:14px;
	display:block;
	line-height:16px;
}
.timeline > li.timeline-inverted > .timeline-panel {
	float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 10px;
	left: -10px;
	right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 9px;
	left: -9px;
	right: auto;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-title a{
	text-decoration:none;
}
.timeline-body > p:last-child,
.timeline-body > ul:last-child {
	margin-bottom:0;
}
.timeline-body > p + p {
	margin-top: 5px;
}
.error-404{
	text-align:center;
}
.error-404 h2{
	font-size:80px;
}
.image-placeholder{
	background:#eee;
	height:100px;
	line-height:100px;
	text-align:center;
	font-weight:700;
	margin-bottom:20px;
}
/* Widgets */
.widget{
	margin-bottom:40px;
}
.widget address {
	margin-bottom: 18px;
}
.widget abbr[title] {
	border-color: #f8f7f3;
}
.widget mark,
.widget ins {
	color: #000;
}
.widget pre,
.widget fieldset {
	border-color: #f8f7f3;
}
.widget form, .widget input, .widget select, .widget textarea{
	max-width:100%;
}
.widget .full-search-form select{
	max-width:none;
}
/* Calendar Widget*/
.widget_calendar table {
	line-height: 2;
	margin: 0;
}
.widget_calendar caption {
	color: #666;
	font-weight: 700;
	line-height: 1.7142857142;
	margin-bottom: 18px;
	text-align: left;
	text-transform: uppercase;
}
.widget_calendar thead th {
	background-color: #F8F8F8;
}
.widget_calendar tbody td,
.widget_calendar thead th {
	text-align: center;
	padding-left:5px;
	padding-right:5px;
	width:40px;
}
.widget_calendar tbody a {
	background-color: #F8F8F8;
	text-decoration:none;
	padding-left:5px;
	padding-right:5px;
	display: block;
}
.widget_calendar tbody a:hover {
	background-color: #F8F8F8;
}
.widget_calendar tbody a:hover {
}
.widget_calendar #prev {
	padding-left: 5px;
}
.widget_calendar #next {
	padding-right: 5px;
	text-align: right;
}
.search-form-widget{
	margin-top:10px;
}
.widget .widgettitle{
	border-bottom:1px solid #efefef;
	margin-bottom:25px;
	padding-bottom:5px;
	text-transform:uppercase;
	font-size:16px;
}
.widget ul{
	margin:0;
	list-style-type:none;
}
.widget ul > li{
	padding:0 0 10px 0;
	margin-bottom:5px;
	border-bottom:1px solid #efefef;
}
.widget ul > li ul{
	border-top:1px solid #efefef;
	margin-top:12px;
	padding-left:20px;
	padding-top:12px;
}
.widget ul > li ul li{
	border-bottom:0;
	margin-bottom:0;
}
.widget a{
	text-decoration:none;
}
.widget .meta-data{
	margin-bottom:0;
}
.tagcloud a{
	display:inline-block;
	margin-right:7px;
	margin-bottom:7px;
	padding:2px 8px;
	border:1px solid #eeeeee;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	background:#f8f8f8;
	font-size:12px;
	text-decoration:none;
	font-size:13px!important;
}
.tagcloud a:hover{
	text-decoration:none;
}
.widget_recent_posts .post-image{
	width:30%;
	float:left;
	margin-right:5%;
}
.widget_recent_posts .widget-blog-content{
	float:left;
	width:65%;
}
.widget_recent_posts .widget-blog-content > a{
	font-weight:bold;
	display:block;
	margin-top:0;
}
.widget_recent_posts .fa-angle-right{
	display:none;
}
.widget_recent_posts .fa-plus{
	margin-right:0;
}
.widget_recent_posts ul li a{
	padding:12px 0;
	text-decoration:none;
}
.widget_recent_posts ul li:first-child a{
	padding-top:8px;
}
.widget-gallery ul{
	margin:0;
	list-style-type:none;
	margin-left:-3%;
}
.widget-gallery ul li{
	float:left;
	width:30%;
	margin-left:3%;
	margin-bottom:20px;
	border-bottom:0;
	padding:0;
}
.widget-gallery ul li i{
	display:none;
}
.twitter-widget li:first-child{
	display:none;
}
.featured-properties-widget .property-block{
	padding-bottom:0;
	margin-bottom:20px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	border:0;
}
.featured-properties-widget .property-block:last-child{
	margin-bottom:0;
}
.featured-properties-widget .property-featured-image{
	width:100%;
}
.featured-properties-widget .property-info{
	width:100%;
	padding:10px 0px;
	border-bottom:0;
}
.widget-agents .badge{
	margin-top:8px;
}
.widget-properties .price{
	margin-top:8px;
}
.additional-amenities > span{
	padding:10px;
	display:inline-block;
	margin:0 5px 10px 0;
	background:#f8f8f8;
	-webkit-border-radius:3px;
	border-radius:3px;
}
.additional-amenities > span.navailable i{
	color:#999;
}
.properties-table th{
	font-weight:700;
}
.table tbody tr td{
	vertical-align:middle;
}
.properties-table .action-button{
	margin-left:20px;
	font-weight:bold;
	text-decoration:none;
}
.properties-table .action-button i{
	font-size:16px;
}
.post-meta{
	background-color:#f8f8f8;
	border-bottom:1px solid #efefef;
	padding:10px 20px;
	font-size:12px;
}
.post-meta i{
	margin-right:5px;
	font-size:14px;
}
.post-comments{
	margin:30px 0 0 0;
}
.comments{
	margin:0;
	list-style-type:none;
}
.comments li{
	margin-bottom:25px;
}
.comments li .post-comment-block{
	padding:25px;
	padding-bottom:5px;
	border:1px solid #efefef;
	border-bottom-width:2px;
	background:#ffffff;
	font-style:normal;
}
.comments li.admin > .post-comment-block{
	background-color:#f8f7f3;
}
.comments li .img-thumbnail{
	float:left;
	margin-right:20px;
}
.comments li h5{
	margin-bottom:5px;
}
.comments li ul{
	padding-top:25px;
	padding-left:50px;
}
.post-comment-form{
	margin:30px 0 0 0;
	border-bottom:0;
}
.post-comment-form .form-control{
	margin-bottom:20px;
}
.gallery-filter ul{
	float:right;
}
#message{
	margin-top:10px;
}
#messages{
	margin-top:10px;
}
#clients-slider li{
	text-align:center;
}
#contact-map{
	padding:0;
}
#back-to-top{
	position:fixed;
	z-index:999;
	right:17px;
	bottom:17px;
	display:none;
	padding:5px 12px;
	-webkit-border-radius:3px;
	border-radius:3px;
	background:rgba(0,0,0,.7);
	color:#ffffff;
}
/*-------------------------------------------------------------------------------------------*/
/* SHORTCODE DEFINATIONS */
/*-------------------------------------------------------------------------------------------*/
/* ==================================================
   Tabs
================================================== */
.tabs{
	margin-bottom:25px;
}
.nav-tabs{
	margin:0;
	list-style-type:none;
}
.nav-tabs li{
	position:relative;
	display:block;
	float:left;
	margin-right:1px;
}
.nav-tabs li a{
	display:block;
	padding:10px 20px;
	background:#efefef;
	text-decoration:none;
}
.nav-tabs li > i{
	color:#efefef;
}
.nav-tabs li > i{
	position: absolute;
	bottom: -28px;
	font-size: 4em;
	width: 29px;
	left: 50%;
	margin-left: -10px;
}
.nav-tabs li a:hover{
	color:#fff;
	background:#666;
	text-decoration:none;
}
.nav-tabs li a:active, .nav-tabs li.active a{
	color:#fff;
	background:#666;
}
.tab-content{
	padding:20px 0;
	background:#ffffff;
}
.tab-content > .tab-pane{
	display:none;
}
.tab-content > .active{
	display:block;
}
/* ==================================================
   Accordion & Toggle
================================================== */
.accordion {
  	margin-bottom: 35px;
}
.accordion-group {
  	margin-bottom: 8px;
  	border: none;
  	-webkit-border-radius: 0;
       -moz-border-radius: 0;
          	border-radius: 0;
}
.accordion-heading {
  	border-bottom: 0 none;
}
.accordion-heading .accordion-toggle {
	position: relative;
  	display: block;
  	padding: 15px;
	background:#f8f8f8;
	text-decoration:none;
	font-size: 13px;
	-webkit-transition: all 0.1s linear 0s;
	-moz-transition: all 0.1s linear 0s;
	-ms-transition: all 0.1s linear 0s;
	-o-transition: all 0.1s linear 0s;
	transition: all 0.1s linear 0s;
}
.accordion-toggle {
  	cursor: pointer;
}
.accordion-toggle:hover{
	text-decoration:none;
}
.accordion-heading:hover .accordion-toggle,
.accordion-heading:hover .accordion-toggle.inactive {
	background:#666;
	color:#fff;
}
.accordion-heading .accordion-toggle.active {
	color:#fff;
	background:#666;
}
.accordion-heading .accordion-toggle.inactive {
	background:#f8f8f8;
}
.accordion-heading.accordionize .accordion-toggle i,
.accordion-heading.togglize .accordion-toggle i {
    position: absolute;
    top: 50%;
    right: 20px;
    margin: -8px 0 0 0;
    color: #666;
    font-size: 18px;
	-webkit-transition: all 0.1s linear 0s;
	-moz-transition: all 0.1s linear 0s;
	-ms-transition: all 0.1s linear 0s;
	-o-transition: all 0.1s linear 0s;
	transition: all 0.1s linear 0s;
}
.accordion-heading:hover .accordion-toggle i {
	color: #fff;
}
.accordion-heading .accordion-toggle.active i,
.accordion-heading:hover .accordion-toggle.inactive i {
	color: #666;	
}
.accordion-heading.accordionize .accordion-toggle.active i,
.accordion-heading.togglize .accordion-toggle.active i {
	color: #fff;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);	
}
.accordion-heading.togglize .accordion-toggle i {
	margin: -8px 0 0 0;
	font-size: 18px;
}
.accordion-heading.togglize .accordion-toggle .fa-plus-circle{
	display:block;
}
.accordion-heading.togglize .accordion-toggle.active .fa-plus-circle{
	display:none;
}
.accordion-heading.togglize .accordion-toggle .fa-minus-circle{
	display:none;
}
.accordion-heading.togglize .accordion-toggle.active .fa-minus-circle{
	display:block;
}
.accordion-inner {
  	padding: 16px;
	border: 1px solid #efefef;
	background: #fff;
}
/* ==================================================
   Alerts
================================================== */
.alert {
  	margin-bottom: 20px;
  	padding: 15px 35px 15px 15px;
	border: 1px solid #efefef;
  	-webkit-border-radius: 0px;
       -moz-border-radius: 0px;
          	border-radius: 0px;
  	background-color: #f8f8f8;
	text-shadow: none;
}
.alert .close {
 	position: relative;
  	top: 0px;
  	right: -22px;
	color: #FFFFFF;	
	text-shadow: none;
  	line-height: 20px;
	text-decoration:none;
	-webkit-transition: opacity 0.1s linear 0s;
	-moz-transition: opacity 0.1s linear 0s;
	-ms-transition: opacity 0.1s linear 0s;
	-o-transition: opacity 0.1s linear 0s;
	transition: opacity 0.1s linear 0s;
}
.alert .close:hover {
	text-decoration:none;
	opacity: 1;
}
.alert-standard {
	border-color:#efefef;
  	background-color: #f8f8f8;
}
.alert-standard, .alert-standard .close {
	color:#666;
}
.alert-success {
	border-color:#d6e9c6;
  	background-color: #dff0d8;
}
.alert-success, .alert-success .close {
	color:#468847;
}
.alert-danger,
.alert-error {
	border-color:#ebccd1;
  	background-color: #f2dede;
}
.alert-danger, .alert-danger .close,
.alert-error, .alert-error .close {
	color:#b94a48;
}
.alert-info {
	border-color:#bce8f1;
  	background-color: #d9edf7;
}
.alert-info, .alert-info .close {
	color:#3a87ad;
}
.alert-warning {
	border-color:#faebcc;
  	background-color: #fcf8e3;
}
.alert-warning, .alert-warning .close {
	color:#c09853;
}
/* ==================================================
   Progress bars
================================================== */
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress {
  	margin-bottom: 15px;
  	height: 20px;
  	border-radius: 3px;
  	background-color: #eaeaea;
  	-webkit-box-shadow: none;
  	box-shadow: none;
	overflow: visible;
}
.progress-bar {
  	float: left;
  	width: 0%;
  	height: 100%;
  	background-color: #eaeaea;
  	-webkit-box-shadow: none;
  	box-shadow: none;
  	color: #ffffff;
  	text-align: center;
  	font-size: 12px;
  	line-height: 20px;
  	-webkit-transition: width 0.6s ease;
  	transition: width 0.6s ease;
	position: relative;
  	border-radius: 3px;
}
.progress-striped .progress-bar {
  	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}
.progress.active .progress-bar {
  	-webkit-animation: progress-bar-stripes 2s linear infinite;
  	animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-success {
  	background-color: #5cb85c;
}
.progress-striped .progress-bar-success {
  	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-info {
  	background-color: #5bc0de;
}
.progress-striped .progress-bar-info {
  	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-warning {
  	background-color: #f0ad4e;
}
.progress-striped .progress-bar-warning {
  	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
.progress-bar-danger {
  	background-color: #d9534f;
}
.progress-striped .progress-bar-danger {
  	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
span.progress-bar-tooltip {
	position: absolute;
	position: absolute;
	top: -28px;
	right: 5px;
	display: block;
	padding: 4px 8px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #333;
	color: #FFF;
	font-size: 11px;
	line-height: 15px;
	opacity: 0;
	filter: alpha(opacity=0);
	-o-border-radius: 3px;
}
span.progress-bar-tooltip:after {
	position: absolute;
	bottom: -5px;
	left: 13px;
	display: block;
	width: 0;
	border-width: 5px 5px 0;
	border-style: solid;
	border-color: #333 transparent;
	content: "";
}
.progress-label{
	text-transform:uppercase;
}
/* ==================================================
   Facts Counters
================================================== */	
.fact-ico{
	display:inline-block;
	width:100px;
	height:100px;
	color:#999999;
	line-height:100px;
	margin:10px 0;
}
.fact{
	display:inline-block;
	color:#999999;
	font-size:15px;
	margin-top:10px;
	font-family: 'Volkhov', serif;
	font-style:italic
}
.counters .timer{
	display:inline-block;
	color:#333333;
	font-weight:700;
	font-size:38px;
}
.parallax .counters .timer{
	color:#ffffff;
}
/* ==================================================
   Modal Box
================================================== */	
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: none;
  overflow: auto;
  overflow-y: scroll;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
     -moz-transition: -moz-transform 0.3s ease-out;
       -o-transition: -o-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-dialog {
  position: relative;
  z-index: 1050;
  margin: 10px;
  width: auto;
}
.modal-content {
  position: relative;
  outline: none;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #ffffff;
  background-clip: padding-box;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-header {
  padding: 15px;
  min-height: 16.428571429px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.428571429;
}
.modal-body {
  position: relative;
  padding: 20px;
}
.modal-footer {
  margin-top: 15px;
  padding: 19px 20px 20px;
  border-top: 1px solid #e5e5e5;
  text-align: right;
}
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.modal-footer:after {
  clear: both;
}
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .modal-dialog {
    margin: 30px auto;
    width: 600px;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}
/*-------------------------------------------------------------------------------------------*/
/* Parallax
/*-------------------------------------------------------------------------------------------*/
.parallax{
	background-attachment: fixed!important;
	background-position:center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	background-repeat:no-repeat;
	background-color:#666;
}
.touch .parallax, .page-header.parallax{
	background-attachment:scroll!important;
}
/*-------------------------------------------------------------------------------------------*/
/* Pricing Tables
/*-------------------------------------------------------------------------------------------*/
.pricing-table {
	margin-top: 50px;	
	margin-bottom: 50px;
}
.pricing-table:after { 
	display: block; 
	visibility: hidden; 
	clear: both; 
	height: 0;
	content: "";
}
.pricing-table > div:first-child .pricing-column-content, .pricing-table > div:first-child h3 {
	border-left: 1px solid #eeeeee!important;
}
.pricing-column {
	float: left;
	overflow: hidden;
	padding: 0px;
	background-color: #fff;
	text-align: center;
	-webkit-transition: box-shadow 0.2s linear;
	-moz-transition: box-shadow 0.2s linear;
	-o-transition: box-shadow 0.2s linear;
	transition: box-shadow 0.2s linear;
}
.pricing-column .features{
	padding:0;
	margin-bottom:0;
	background:none;
}
.pricing-column .pricing-column-content {
	padding: 0px 0px 20px 0px;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}
.pricing-column.highlight {
	position: relative;
	z-index: 1;
	margin: -20px -1px 0px -1px;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 13px rgba(0,0,0,.09);
	-moz-box-shadow: 0px 0px 13px rgba(0,0,0,.09);
	box-shadow: 0px 0px 13px rgba(0,0,0,.09);
	-o-box-shadow: 0px 0px 13px rgba(0,0,0,.09);
}
.pricing-column.highlight .pricing-column-content, .pricing-column.highlight h3  {
	border: none;
}
.pricing-column.highlight h3 .highlight-reason {
	display: block;
    color: rgba(0,0,0,0.4);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 12px;
}
.pricing-column.highlight .pricing-column-content {
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
}
.pricing-column.highlight:hover {
	-webkit-box-shadow: 0px 0px 13px rgba(0,0,0,.15);
	-moz-box-shadow: 0px 0px 13px rgba(0,0,0,.15);
	box-shadow: 0px 0px 13px rgba(0,0,0,.15);
	-o-box-shadow: 0px 0px 13px rgba(0,0,0,.15);
}
.pricing-column ul{
	margin:0;
	list-style-type:none;
}
.pricing-column ul li {
	padding: 10px 25px;
	border-bottom: 1px solid #eeeeee;
	color: #666666!important;
	list-style: none;
	line-height: 18px;
}
.pricing-column ul li:first-child {
	border-top: 1px solid #eeeeee;
}
.pricing-column ul li:nth-child(2n+1) {
	background-color: #f8f8f8;
}
.pricing-column.highlight h3 {
	margin-bottom: 0px!important;
	padding: 15px 0px;
	color: #ffffff!important;
}
.toggle .pricing-column h3 {
	font-size: 26px!important;
}
.pricing-column h3 {
	margin-bottom: 0px;
	padding: 18px 0px 18px 0px;
	border-top: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	background-color: #ffffff;
	font-size: 26px;
	line-height: 28px;
}
.pricing-column h4 {
	margin-bottom: 0px;
	margin-left: -22px;
	padding: 20px 30px 6px 30px;	
	color: #333333;
	font-size: 54px!important;
	line-height: 42px!important;
}
.pricing-column h4 .dollar-sign {
	position: relative;
	top: -14px;
	right: -6px;
	font-size: 22px;
	line-height: 22px;
}
.pricing-column .interval {
	display: block;
	display: block;
	padding-bottom: 17px;
	min-height: 38px;
	color: #999999;
}
.pricing-column ul {
	margin-left: 0px;
}
.pricing-column .btn{
	margin-top:25px;
}
.pricing-column.highlight .btn{
	margin-bottom:20px;
}
.pricing-table.six-cols > div {
	width: 16.5%;
}
.pricing-table.five-cols > div {
	width: 20%;
}
.pricing-table.four-cols > div {
	width: 25%;
}
.pricing-table.three-cols > div {
	width: 33.2%;
}
.pricing-table.two-cols > div {
	width: 50%;
}
  .error_err{
        border: solid red 1px !important;
    }
/*-------------------------------------------------------------------------------------------*/
/* Responsive Classes
/*-------------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1199px) {
	@-moz-document url-prefix() {
		.formBlock.select-s .select {
			background-position: 85% -1px!important;
		}
		.formBlock.select-s .select { width:113%!important;
		}
	}
	.navigation > ul > li > a{
		padding:15px 16px;
	}
	.navigation ul > li:hover > a, .navigation ul > li.current_menu_item > a{
		padding:12px 16px 15px 16px;
	}
	.flex-caption{
		margin-right:-460px;
	}
	#featured-properties .overlay{
		line-height:150px!important;
	}
	.grid-content .meta-data > span{
		padding:10px 10px;
	}
}
@media only screen and (max-width: 992px) {
	@-moz-document url-prefix() {
		.formBlock.select-s .select {
			background-position: 89.6% -1px!important;
		}
		.formBlock.select-m .select {
			background-position: 89.6% -1px!important;
		}
		.formBlock.select-w .select {
			background-position: 89.6% -1px!important;
		}
	}
	.sticky-wrapper{
		height:auto!important
	}
	.middle-header{
		-webkit-box-shadow:0 1px 2px rgba(0,0,0,.1);
		-moz-box-shadow:0 1px 2px rgba(0,0,0,.1);
		box-shadow:0 1px 2px rgba(0,0,0,.1);
	}
	.main-menu-wrapper{
		height:auto;
		position:absolute;
		width:100%;
		background:#eee;
		display:none;
		z-index:9999;
	}
	.navigation > ul > li{
		display:block;
		width:100%;
		line-height: normal;
		text-align:left;
	}
	.navigation > ul > li > a{
		padding:20px 25px;
		border-bottom:1px solid #ccc;
		border-right:0;
	}
	.navigation > ul > li:hover > a{
		padding:17px 25px 20px 25px;
	}
	.navigation > ul > li:first-child a{
		border-left:0;
	}
	.navigation > ul > li:last-child a{
		border-bottom:0;
	}
	.navigation > ul > li > ul, .navigation > ul > li > ul li ul{
		position:static;
		height:auto!important;
		border-bottom:1px solid #efefef;
		top:0;
		left:0;
		-webkit-box-shadow:none;
		-moz-box-shadow:none;
		box-shadow:none;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius:0;
		margin-left:0;
	}
	.navigation > ul > li > ul:before, .navigation > ul > li > ul li ul:before{
		display:none;
	}
	.flex-caption{
		margin-right:-180px;
		top:-30px;
	}
	.hero-slider{
		height:300px;
	}
	.hero-slider.flexslider ul.slides li{
		height:300px;
	}
	.site-search-module{
		position:relative;
		height:auto;
		bottom:auto;
		left:auto;
		margin-top:30px;
	}
	.site-search-module-inside{
		height:auto;
		padding-bottom:30px;
	}
	.site-search-module-inside #ads-trigger{
		display:none;
	}
	.featured-blocks .featured-block{
		margin-bottom:30px;
	}
	.bottom-blocks .column{
		margin-bottom:30px;
	}
	.owl-theme .owl-controls .owl-buttons div{
		display:none!important;
	}
	.block-heading h4{
		display:block;
		-webkit-border-radius:3px;
		border-radius:3px;
	}
	.block-heading .btn, .block-heading .toggle-view{
		display:none;
	}
	.agent > div > div >img{
		margin-bottom:30px;
	}
	.gallery-item .media-box img, .grid-item .media-box img{
		min-width:100%;
	}
	#featured-properties .overlay{
		line-height:auto!important;
	}
	.property-listing .property-featured-image, .agents-listing .agent-featured-image{
		margin-bottom:30px;
	}
	.register-form{
		margin-top:30px;
	}
	.right-sidebar{
		margin-top:40px;
	}
	.single-agent .img-thumbnail{
		margin-bottom:30px;
	}
	.widget-agents strong, .widget-properties .price{
		display:block;
	}
	.action-button > span{
		display:none;
	}
	.submit-description{
		margin-top:20px;
	}
	.submit-property-type, .submit-contract-type, .submit-image{
		margin-bottom:20px;
	}
	.pricing-column .features{
		margin-bottom:0;
	}
	.pricing-column.highlight {
		margin: 0;
  	}
	.pricing-table > div:third-child .pricing-column-content, .pricing-table > div:nth-child(2n+1) h3 {
		border-left: 1px solid #eeeeee!important;
	}
  	.pricing-column ul li:first-child {
	  	border-top: 1px solid #eeeeee;
  	}
  	.pricing-column ul li:nth-child(2n+1) {
	  	background-color: #f8f8f8;
  	}
  	.toggle .pricing-column h3 {
	  	font-size: 26px!important;
  	}
  	.pricing-column.highlight .btn{
	  	margin-bottom:0;
  	}
	.pricing-table.six-cols > div {
		width: 50%;
	}
	.pricing-table.five-cols > div {
		width: 50%;
	}
	.pricing-table.four-cols > div {
		width: 50%;
	}
	.pricing-table.three-cols > div {
		width: 50%;
	}
	.pricing-table.two-cols > div {
		width: 50%;
	}
	.grid-content .meta-data > span{
		padding:5px 0;
		border-right:0;
	}
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }
    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
	ul.timeline > li > .timeline-panel:before {
		border-left-width: 0;
		border-right-width: 15px;
		left: -15px;
		right: auto;
	}
	ul.timeline > li > .timeline-panel:after {
		border-left-width: 0;
		border-right-width: 14px;
		left: -14px;
		right: auto;
	}
}
@media only screen and (max-width: 767px) {
	@-moz-document url-prefix() {
		.formBlock.select-s .select {
			background-position: 89.3% -1px!important;
		}
		.formBlock.select-m .select {
			background-position: 89.3% -1px!important;
		}
		.formBlock.select-w .select {
			background-position: 89.5% -1px!important;
		}
	}
	/* Isotope */
	.isotope {
		overflow: visible !important;
		height: auto !important;
	}
	.isotope-item {
		position: static !important;
		margin-right: auto;
		margin-left: auto;
		width: auto;
		-webkit-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-o-transform: none !important;
		transform: none !important;
	}
	.isotope-hidden {
		display: none !important;
	}
	.grid-item{
		margin-bottom: 6%;
	}
	.grid-holder.col-2 .grid-item{
		width:95%;
	}
	.grid-holder.col-3 .grid-item{
		width:95%;
	}
	.grid-holder.col-4 .grid-item{
		width:95%;
	}
	.pricing-table.six-cols > div {
		margin:0 auto 30px;
		width: 100%;
	}
	.pricing-table.five-cols > div {
		margin:0 auto 30px;
		width: 100%;
	}
	.pricing-table.four-cols > div {
		margin:0 auto 30px;
		width: 100%;
	}
	.pricing-table.three-cols > div {
		margin:0 auto 30px;
		width: 100%;
	}
	.pricing-table.two-cols > div {
		margin:0 auto 30px;
		width: 100%;
	}
	.grid-content .meta-data > span{
		padding:10px 20px;
		border-right:1px solid #efefef;
	}
	.page-header h1{
		font-size:16px;
	}
	.hero-agent{
		display:none;
	}
	.flex-caption{
		margin-right:-110px;
	}
	.flex-caption .fa-caret-down{
		display:none;
	}
	.property-listing > ul > li, .agents-listing > ul > li{
		padding:0;
	}
	.property-listing > ul > li > div, .agents-listing > ul > li > div{
		padding-left:0;
		padding-right:0;
	}
	.property-listing > ul > li .property-info, .agents-listing > ul > li .agent-info, .agents-listing > ul > li .agent-contacts{
		padding-left:15px;
		padding-right:15px;
	}
	.agents-listing > ul > li .agent-contacts{
		padding-bottom:15px;
	}
	#gmap{
		height:200px;
	}
	#onemap{
		height:200px;
	}
	.site-footer-bottom{
		text-align:center;
	}
	.site-footer-bottom .social-icons{
		margin-top:30px;
		text-align:center;
	}
	.site-footer-bottom .social-icons a{
		margin:0 4px;
	}
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
	
}
/*-----------------------------------------------------------------------------------*/
/*	dsIDX Styles
/*-----------------------------------------------------------------------------------*/
.dsidx-results a {
  text-decoration: none;
}
.dsidx-results a:hover {
  text-decoration: none;
}
.dsidx-results .dsidx-paging-control {
  float: left;
  text-align: left;
  font-size: 12px;
}
.dsidx-results .dsidx-sorting-control {
  font-size: 12px;
  text-align: left;
}
.dsidx-results .dsidx-sorting-control form select {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-color: #dedede;
  margin-bottom: 2px;
  margin-left: 5px;
}
.dsidx-results #dsidx-map-control {
  clear: both;
  margin-top: 10px;
}
.dsidx-results #dsidx-map {
  border: none;
}
.dsidx-standalone-disclaimer {
  clear: both;
  font-size: 12px;
  line-height: 20px;
  margin-top: 65px;
  display: none;
  /* disable this line to show IDX Disclaimer */
}
/* Listing Styles */
.dsidx-results li {
  display: block;
  margin: 0 0 30px;
  border:1px solid #eee;
  -webkit-transition:all 0.3s ease 0.2s;
  -moz-transition:all 0.3s ease 0.2s;
  -ms-transition:all 0.3s ease 0.2s;
  -o-transition:all 0.3s ease 0.2s;
  transition:all 0.3s ease 0.1s;
  background:#ffffff;
  padding: 20px;
  width: auto;
}
.dsidx-results li:hover{
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}
.dsidx-prop-summary img {
  border: 0!important;
}
.dsidx-results li.dsidx-prop-summary {
  padding: 15px;
  margin-bottom: 30px;
  border: 1px solid #eee;
}
.dsidx-results li.dsidx-prop-summary .dsidx-prop-title {
  color: #fff;
  padding: 8px 10px;
  font-weight: normal;
  text-transform: capitalize;
  margin: 0;
  font-size: 18px;
}
.dsidx-results li.dsidx-prop-summary .dsidx-prop-title a {
  color: #fff;
}
.dsidx-results li.dsidx-prop-summary .dsidx-prop-title a:hover {
  text-decoration: underline;
}
.dsidx-results li.dsidx-prop-summary .dsidx-prop-features div {
  float: left;
  margin: 5px 3px;
  width: 30%;
  line-height: 24px;
}
/* Details Page Styles */
.dsidx-details #dsidx-actions {
  margin: 0 0 15px;
  font-weight: normal;
}
.dsidx-details #dsidx-description {
  background: #fff;
  border: 1px solid #eee;
  padding: 15px;
  color: #8b9293;
  font-size: 13px;
  line-height: 23px;
}
.dsidx-details #dsidx-secondary-data,
.dsidx-details .dsidx-supplemental-data {
  border: none;
}
.dsidx-details #dsidx-secondary-data th,
.dsidx-details #dsidx-secondary-data td,
.dsidx-details .dsidx-supplemental-data th,
.dsidx-details .dsidx-supplemental-data td {
  background: #fff;
  color: #636464;
  font-size: 13px;
  line-height: 23px;
  border: 1px solid #eee;
}
.dsidx-details #dsidx-secondary-data tr:hover th, .dsidx-details #dsidx-secondary-data tr:hover td,
.dsidx-details .dsidx-supplemental-data tr:hover th,
.dsidx-details .dsidx-supplemental-data tr:hover td {
  background: #F8F8F8;
}
.dsidx-details h3 {
  margin-top: 20px;
}
.dsidx-details #dsidx-map {
  border: none;
}
.dsidx-details #dsidx-contact-form {
  background: #F8F8F8;
  border: 1px solid #eee;
  padding: 15px;
}
.dsidx-details .dsidx-contact-form table {
  border: none;
}
.dsidx-details .dsidx-contact-form table th,
.dsidx-details .dsidx-contact-form table td {
  background: transparent;
  font-size: 13px;
  line-height: 23px;
  border: none;
}
.dsidx-details .dsidx-contact-form table td.column-one {
  width: 25%;
}
.dsidx-details .dsidx-contact-form table tr {
  background: transparent;
}
.dsidx-details .dsidx-contact-form table tr:hover th, .dsidx-details .dsidx-contact-form table tr:hover td {
  background: transparent;
}
.dsidx-details .dsidx-contact-form table input.dsidx-text {
  width: 90%;
  padding: 5px 10px;
}
.dsidx-details .dsidx-contact-form table label {
  margin-top: 5px;
}
.dsidx-details .dsidx-contact-form table input[type=button] {
  padding: 10px 18px;
  font-size: 14px;
  height: auto;
  line-height: 18px;
}
.dsidx-details .dsidx-contact-form table textarea.dsidx-contact-form-comments {
  padding: 5px 10px;
  width: 93%;
}
.dsidx-details .dsidx-contact-form table select {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
#dsidx-header {
  background: #F8F8F8;
  border: 1px solid #eee;
  padding: 15px;
  margin-bottom: 20px;
}
#dsidx-header table {
  border: none;
}
#dsidx-header table td {
  border: none;
  background: transparent;
}
#dsidx-header table#dsidx-primary-data th {
  border: none;
  background: transparent;
  font-weight: normal;
}
#dsidx-header table#dsidx-primary-data td {
  border: none;
  font-weight: normal;
}
#dsidx-header .dsidx-secondary-row {
  background: transparent;
}
.sidebar .widget .dsidx-map {
  height: auto;
  padding: 5px 18px 49px 22px;
}
.sidebar .widget .dsidx-map .dsidx-details {
  height: auto;
  margin-bottom: 5px;
}
.sidebar .widget .dsidx-slideshow {
  height: auto;
}
.sidebar .widget .dsidx-slideshow ul {
  height: 106px;
  margin: 5px 0;
}
.sidebar .widget .dsidx-slideshow .featured-listing {
  height: auto;
}
.sidebar .widget .dsidx-slideshow .featured-listing h4, .sidebar .widget .dsidx-slideshow .featured-listing .property-item h4 a, .property-item h4 .sidebar .widget .dsidx-slideshow .featured-listing a {
  color: #fff;
  padding: 5px 5px 6px;
  font-weight: normal;
  text-transform: capitalize;
  margin: 0;
  font-size: 14px;
}
.sidebar .widget .dsidx-slideshow .featured-listing h4 a, .property-item h4 .sidebar .widget .dsidx-slideshow .featured-listing a a {
  color: #fff;
}
.sidebar .widget .dsidx-slideshow .featured-listing h4 a:hover, .property-item h4 .sidebar .widget .dsidx-slideshow .featured-listing a a:hover {
  text-decoration: underline;
}
.sidebar .widget .dsidx-slideshow .featured-listing img {
  margin: 0 5px 0 0;
  border: none;
}
.sidebar .widget .dsidx-expanded {
  background: #fff;
  padding: 15px;
}
.sidebar .widget .dsidx-expanded .featured-listing {
  height: auto;
  margin: 0 0 15px;
}
.sidebar .widget .dsidx-expanded .featured-listing h4, .sidebar .widget .dsidx-expanded .featured-listing .property-item h4 a, .property-item h4 .sidebar .widget .dsidx-expanded .featured-listing a {
  color: #fff;
  padding: 5px 5px 6px;
  font-weight: normal;
  text-transform: capitalize;
  margin: 0;
  font-size: 14px;
}
.sidebar .widget .dsidx-expanded .featured-listing h4 a, .property-item h4 .sidebar .widget .dsidx-expanded .featured-listing a a {
  color: #fff;
}
.sidebar .widget .dsidx-expanded .featured-listing h4 a:hover, .property-item h4 .sidebar .widget .dsidx-expanded .featured-listing a a:hover {
  text-decoration: underline;
}
.sidebar .widget .dsidx-expanded .featured-listing img {
  margin: 0 5px 0 0;
  border: none;
}
.sidebar .widget .dsidx-expanded .featured-listing ul {
  padding: 0 0;
  clear: both;
  margin: 0;
}
.sidebar .widget .dsidx-expanded .featured-listing ul > li {
  padding: 5px;
  float: none;
  display: block;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
}
.sidebar .widget .dsidx-search-widget table {
  border: none;
  background: transparent;
}
.sidebar .widget .dsidx-search-widget table tr th {
  padding: 8px 6px 8px 8px;
}
.sidebar .widget .dsidx-search-widget table tr th,
.sidebar .widget .dsidx-search-widget table tr td {
  background: transparent;
  border: none;
  position: relative;
}
.sidebar .widget .dsidx-search-widget label {
  margin-top: -5px;
  font-size: 13px;
}
.sidebar .widget .dsidx-search-widget span.select-wrapper {
  position: relative;
  display: block;
}
.sidebar .widget .dsidx-search-widget span.select-wrapper input {
  width: 136px;
  height: 24px;
  padding-right: 30px;
  margin-bottom: 22px;
  cursor: pointer;
}
.sidebar .widget .dsidx-search-widget select {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #eee;
  padding: 5px 6px;
  font-size: 12px;
  width: 98%;
}
.sidebar .widget .dsidx-search-widget select.dsidx-search-widget-propertyTypes {
  display: block;
  margin: 0 auto 15px;
  width: 98% !important;
}
.sidebar .widget .dsidx-search-widget input[type="text"], .sidebar .widget .dsidx-search-widget textarea {
  border: 1px solid #eee;
  padding: 2px 6px;
  font-size: 12px;
  width: 90%;
}
.sidebar .widget .dsidx-search-widget input[type=text].dsidx-price {
  width: 37%;
}
.sidebar .widget .dsidx-search-widget .dsidx-search-button {
  text-align: center;
}
.sidebar .widget .dsidx-search-widget .dsidx-search-button .submit {
  padding: 8px 16px;
  font-size: 14px;
  text-transform: capitalize;
  color: #fff;
}
.sidebar .widget .dsidx-search-widget .dsidx-search-button br {
  display: none;
}
.sidebar .widget .dsidx-widget-single-listing {
  border: none;
}
.sidebar .widget .dsidx-widget-single-listing h3.widget-title {
}
.sidebar .widget .dsidx-controls {
  display: none;
}
.disable-responsive .sidebar .widget .dsidx-search-widget input[type=text].dsidx-price {
  width: 34%;
}
.disable-responsive .sidebar .widget .dsidx-widget-single-listing {
  width: 220px;
}
/* DSIDX Pro Fixes */
#dsidx-top-search #dsidx-search-bar {
  background: url(http://cdn1.diverse-cdn.com/api/images/dsidxpress/search-glass.png/28b0b3) no-repeat 11px center;
  background: url(http://cdn1.diverse-cdn.com/api/images/dsidxpress/search-glass.png/28b0b3) no-repeat 11px center, -moz-linear-gradient(top, #666 0, #666 100%);
  background: url(http://cdn1.diverse-cdn.com/api/images/dsidxpress/search-glass.png/28b0b3) no-repeat 11px center, -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(102, 102, 102, 0.3)), color-stop(1, #666));
  background: url(http://cdn1.diverse-cdn.com/api/images/dsidxpress/search-glass.png/28b0b3) no-repeat 11px center, -webkit-linear-gradient(top, #666 0, #666 100%);
  background: url(http://cdn1.diverse-cdn.com/api/images/dsidxpress/search-glass.png/28b0b3) no-repeat 11px center, -ms-linear-gradient(top, #666 0, #666 100%);
  background: url(http://cdn1.diverse-cdn.com/api/images/dsidxpress/search-glass.png/28b0b3) no-repeat 11px center, -o-linear-gradient(top, #666 0, #666 100%);
  background: url(http://cdn1.diverse-cdn.com/api/images/dsidxpress/search-glass.png/28b0b3) no-repeat 11px center, linear-gradient(top, #666 0%, #666 100%);
}
#dsidx-top-search #dsidx-search-form table {
  border-width: 0px;
}
#dsidx-top-search #dsidx-search-form table tr {
  border-width: 0px;
}
#dsidx-top-search #dsidx-search-form table td {
  border-width: 0px;
}
#dsidx-top-search #dsidx-search-form table th {
  border-width: 0px;
}
#dsidx select, .dsidx-content-header select {
  width: 150px;
}
#dsidx select, .dsidx-content-header select#dsidx-search-type {
  width: 245px;
}
.dsidx-profile-button {
  line-height: 16px;
  padding: 6px 8px;
}
#dsidx-top-search #dsidx-search-form .dsidx-search-tag-list .dsidx-search-tag-checkbox label {
  display: inline-block;
}
#dsidx-profile-header .dsidx-profile-button .dsidx-profile-dropicon {
  margin-left: 6px;
}
#dsidx.dsidx-results .dsidx-paging-control {
  float: right;
  text-align: right;
}
#dsidx ul.dsidx-tabs.dsidx-result-tabs li.dsidx-tab span {
  padding-left: 24px;
}
#dsidx ul.dsidx-tabs.dsidx-result-tabs li.dsidx-tab span {
  line-height: 16px;
}
#dsidx-listings li.dsidx-listing-container {
  display: block;
  margin: 0 0 30px;
  border: 1px solid #eee;
  padding: 10px;
  width: auto;
}
#dsidx-listings li.dsidx-listing-container .dsidx-listing {
  border: none;
  padding: 0;
  box-shadow: none;
  background: transparent;
  border-radius: 0;
  margin-bottom: 0;
}
ol#dsidx-listings {
  padding: 20px 0;
}
#dsidx-listings .dsidx-listing-container .dsidx-listing:hover .dsidx-media,
#dsidx-listings .dsidx-listing-container .dsidx-listing .dsidx-media {
  padding: 0;
  margin: 0;
  background: transparent;
}
#dsidx-listings .dsidx-listing-container .dsidx-listing:hover .dsidx-data,
#dsidx-listings .dsidx-listing-container .dsidx-listing .dsidx-data {
  margin: 0;
}
#dsidx-listings .dsidx-listing-container .dsidx-listing .dsidx-media .dsidx-photo {
  border: none;
}
#dsidx-listings .dsidx-listing-container .dsidx-listing .dsidx-media .dsidx-photo .dsidx-photo-count {
  background: #999999 url(http://cdn2.diverse-cdn.com/api/images/dsidxpress/icons/photo-count.png/f1b58b) 5px 8px no-repeat;
}
#dsidx-listings .dsidx-listing-container .dsidx-primary-data {
  width: 100%;
}
#dsidx-listings .dsidx-listing-container .dsidx-listing .dsidx-primary-data {
  border: none;
  padding: 6px 0 20px 0;
}
#dsidx-listings .dsidx-listing-container .dsidx-listing .dsidx-primary-data .dsidx-address a {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}
#dsidx-listings .dsidx-listing-container .dsidx-listing .dsidx-primary-data .dsidx-address a span {
  color: #fff;
}
#dsidx-listings .dsidx-listing-container .dsidx-listing .dsidx-primary-data .dsidx-price,
#dsidx-listings .dsidx-listing-container .dsidx-listing .dsidx-primary-data .dsidx-price-sold {
  background: transparent;
}
#dsidx-listings .dsidx-listing-container .dsidx-listing .dsidx-secondary-data {
  padding: 0;
  margin: 0;
}
#dsidx-listings .dsidx-listing-container .dsidx-secondary-data div {
  float: left;
  margin: 5px 3px;
  width: 30%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 23px;
}
#dsidx-listings .dsidx-listing-container .dsidx-listing .dsidx-listing-tag.dsidx-tag-pre-foreclosure {
  text-align: right;
  width: auto;
  float: none;
  margin: 0;
  padding: 3px 10px;
  background: #666;
}
#dsidx-listings .dsidx-listing-container .dsidx-listing .dsidx-listing-tag.dsidx-tag-pre-foreclosure br {
  display: none;
}
.dsidx-results-grid #dsidx-listings li.dsidx-listing-container {
  padding: 0;
  border: none;
}
.dsidx-results-grid #dsidx-listings .dsidx-listing:hover .dsidx-data,
.dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-data {
  padding: 0;
}
.dsidx-results-grid #dsidx-listings .dsidx-listing-container .dsidx-listing .dsidx-primary-data {
  padding: 6px 0 12px 0;
  width: 250px;
}
.dsidx-results-grid #dsidx-listings .dsidx-listing-container .dsidx-secondary-data div {
  background: none;
  width: auto;
}
.dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-media .dsidx-photo {
  background: transparent;
  box-shadow: none;
}
.dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-media .dsidx-photo img {
  max-height: none;
}
#dsidx-listings .dsidx-listing-container .dsidx-listing .dsidx-media .dsidx-photo .dsidx-photo-count {
  background: #999999 url(http://cdn2.diverse-cdn.com/api/images/dsidxpress/icons/photo-count.png/f1b58b) 5px 3px no-repeat;
  line-height: 16px;
}
.dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-data .dsidx-primary-data .dsidx-price {
  background: #4dc7ec;
  border: none;
  position: static;
  top: auto;
  left: auto;
  float: right;
  width: auto;
  line-height: 20px;
}
.dsidx-results-grid #dsidx-listings .dsidx-listing:hover .dsidx-data .dsidx-primary-data .dsidx-price {
  padding: 5px 10px;
}
.dsidx-results-grid #dsidx-listings .dsidx-listing .dsidx-primary-data .dsidx-address {
  float: left;
}
#dsidx.dsidx-share-dropicon {
  margin-left: 6px;
}
#dsidx.dsidx-details {
  margin: 0;
}
#rev_slider_1_1 ul li:after{
	content: '';
	background: rgba(0,0,0,0.4);
	top: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	float: left;	
}
input.btn.btn-primary,
button.btn.btn-primary,
input#submit{
	background: #8FBD15;
}
.tab_proyecto {
	float: left;
	width: 100%;
	position: relative;
	margin: 0;
	padding: 0;
}
.tab_proyecto .block-heading {	
	position: relative;
	margin: 0;
	padding: 0;	
}
.tab_proyecto .block-heading ul {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}
.tab_proyecto .block-heading ul li {
	float: left;
	margin: 0;
	padding: 0;
	background: transparent;
}
.tab_proyecto .block-heading ul li .fa-caret-down{
	color: #fff;
}
.tab_proyecto .block-heading ul li.active .fa-caret-down{
	color: #b40028;
}
.tab_proyecto .block-heading ul li a {
	float: left;
	width: 100%;
	background: transparent;
	margin: 0;
	padding: 0;
	border: none;
}
.tab_proyecto .block-heading ul li a h4 {
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
	padding: 0 20px 0 0;
	border-radius: 3px 0px 0px 3px;
	border: 0px solid;
	background: #8FBD15;
	color: #fff;
}
.tab_proyecto .block-heading ul li.active a h4{
		background: #b40028;
		color: #fff;
}
.tab_proyecto .block-heading .tab-content{
	float: left;
	background: transparent;
	width: 100%;
	position: relative;
	padding: 20px 0;
	margin: 0;
}
.tab_proyecto .block-heading .tab-content .tab-pane{
	float: left;
	background: transparent;
	width: 100%;
	position: relative;
	padding: 20px 0;
	margin: 0;
}
.tab_proyecto .block-heading .tab-content .tab-pane .property-block{
	float: left;
	background: transparent;
	width: 100%;
	position: relative;
	padding: 0;
	margin: 0;
	border-radius: 3px;	
}
.tab_proyecto .block-heading .tab-content .tab-pane .property-block .property-info h4{
	background: transparent !important;	
}
.ultimos_post {
	float: left;
	width: 100%;	
	margin: 0;
	padding: 40px 0;
}
.ultimos_post .block{
	float: left;
	margin: 15px 0;
	width: 100%;
	border: 1px solid #eee;
	background: #fff;
}
.ultimos_post .block .titlee{
	padding: 20px 15px;
	float: left;
	width: 100%;
}
.ultimos_post .block .titlee h4{
	background: transparent !important;
	margin:0 0 20px;
	float: left;
	width: 100%;
	color: #000082;
	padding: 0;
	line-height: normal !important;
}
.ultimos_post .block .titlee a{
	float: left;
	color: #999;
	text-decoration: none;
	text-transform: uppercase;
}
.bread {
	float: left;
	width: 100%;
	margin: 10px 0 0;
}
.bread a {
	color: #fff;
}
.bread span {
	color: #fff;
}
.search-results #details a.btn{
	display: none;
}
.top-header {
  padding: 10px 0;
  height: auto;
}
nav.custom-pagination {
    display: block;
    margin: auto;
    text-align: center;
}

span.page-numbers.page-num {
    margin-right: 20px;
}

.site-footer .form-control{
	width: 34% !important;
}

.property-info h4 {
    line-height: initial !important;
        height: 70px;
}
.page-id-897 .form-control,
.page-template-template-contact .form-control{
	float: none;
}
.property-info{
	min-height: 120px !important;
}