/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: flexible
Description: The default skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
*/
.theme-default .nivoSlider {
	width: 880px; /* agregamos esta línea */
	position:relative;
	background:#fff url(.../img/loading.gif) no-repeat 50% 50%; /* lo modificamos por background:#fff url(../images/loading.gif) no-repeat 50% 50%;*/
	margin: 0 auto; /* lo modificamos por margin: 0 auto; para centrarlo*/
	-webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
	-moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
	box-shadow: 0px 1px 5px 0px #4a4a4a;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	position:absolute;
	left:50%;
	bottom:0px;
    margin-left:-40px; /* Tweak this to center bullets */
}
.theme-default .nivo-controlNav a {
    display:block;
    width:22px;
    height:22px;
    background:url(../img/bullets.png) no-repeat; /* lo modificamos por  background:url(../images/bullets.png) no-repeat;*/
    text-indent:-9999px;
    border:0;
    margin-right:3px;
    float:left;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}
.theme-default .nivo-directionNav a {
    display:block;
    width:30px;
    height:30px;
    background:url(../img/arrows.png) no-repeat; /*lo modificamos por  background:url(../images/arrows.png) no-repeat;*/
    text-indent:-9999px;
    border:0;
}
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}
@media screen and (max-width: 1280px){
	.theme-default .nivoSlider {	
    	position:relative;
		background:#fff url(../img/loading.gif) no-repeat 50% 50%;
    	/*margin: auto 330px;*/
    	-webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    	-moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    	box-shadow: 0px 1px 5px 0px #4a4a4a;   
	}
}
@media screen and (max-width: 1024px){
	.theme-default .nivoSlider {	
    	position:relative;
		background:#fff url(../img/loading.gif) no-repeat 50% 50%;
    	/*margin: auto 200px;*/
    	-webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    	-moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    	box-shadow: 0px 1px 5px 0px #4a4a4a;   
	}
}
@media screen and (max-width: 800px){
	.theme-default .nivoSlider {	
    	position:relative;
		background:#fff url(../img/loading.gif) no-repeat 50% 50%;
    	/*margin: auto 100px;*/
    	-webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    	-moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    	box-shadow: 0px 1px 5px 0px #4a4a4a;   
	}
}