/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	background-color:#000;
	/*color:#999; Color de la Tipografía en la página*/
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
	text-decoration:none;
}

h1{
	font-size:12px;
	font-weight:bold;
	color:#666;
}

h2{
	font-size:16px;
	text-transform:uppercase;
	font-weight:bold;
	color:#666;
}

h2{
	font-size:16px;
	color:#666;
}

p{
	text-align:justify;
	color:#666;
}

a,a:hover,a:active,a:visited{
	text-decoration:none;
}

#wrap{
	width:952px;
	height:100%;
	overflow:hidden;
	margin:0px auto;	
	background-color: #FFF;
}

/*Estructuras Superiores*/

header{
	width:880px;
	height:auto;
	overflow:hidden;
	margin:0px auto;		
}

nav{
	float:left;	
	width:880px;
	height:35px;
	margin-top:15px;
	border-top:1px dotted #999;
	border-bottom:1px dotted #999; 		
}

nav a{
	font-size:12px;
	font-weight:bold;
	color: #666;
	text-transform:uppercase;
	padding-right:15px;
	padding-left:15px;
	border-left:1px solid #999;
	line-height:35px;
}

nav a:hover{
	color:#F00;
}

#logo{
	width:185px;
	height:105px;
	float:left;
	margin-top:35px;
	display:inline;
}

#un_paso_adelante{
	width:200px;
	height:105px;
	margin-top:45px;
	margin-left:50px;
	float:left;
	display:inline;
}

#logo_iso9001{
	width:346px;
	height:105px;
	margin-top:22px;
	float:right;
	display:inline;
}

#aviso{
	width:880px;
	height:30px;
	background-color:#C94127;
	float:left;
}

#aviso p{
	color:#FFF;
	text-align:center;
	line-height:10px;
	font-weight:bold;
}


#figure{
	width:880px;
	height:auto;
	float:left;
	margin-top:15px;
	margin-bottom:15px;
}

figure{
	width:880px;
	height:105px;
	float:left;
	margin:0px auto;
}

#banner{
	width:952px;
	height:350px;
	margin-top:20px;
	margin-bottom:20px;
	float:left;
	background-color:#000;
	overflow:hidden;
}

#boton_brochure{
	width:110px;
	height:28px;
	background-image:url(../img/boton_brochure.jpg);
	background-repeat:no-repeat;
	font-size:10px;
	line-height:28px;
	text-align:center;
	margin-left:426px;
	margin-bottom:20px;
}

#boton_brochure a{
	color:#FFF;
}

#boton_brochure a:hover{
	color:#000;
}

#contenido{
	width:880px;
	height:auto;
	overflow:hidden;
	margin:0px auto;
	margin-bottom:20px;				
}

#caluga{
	width:244px;
	height:135px;
	background-color: #CCC;
	float:left;
	margin-right:14px;
	padding:10px 20px;
	margin-bottom:20px;
	margin-top:10px;
}

#caluga_derecha{
	width:244px;
	height:135px;
	background-color: #CCC;
	float:right;	
	padding:10px 20px;
	margin-top:10px;		
}

#linea_sola{
	width:880px;
	height:auto;
	border-bottom:1px dotted #999;
	margin-bottom:10px;
}

footer{
	width:880px;
	height:60px;
	overflow:hidden;
	margin:0px auto;
	margin-bottom:10px;		
}

footer a{
	color:#666;
	font-style:italic;	
}

footer a:hover{
	color:#F00;	
}

#logo_footer{
	width:145px;	
	height:60px;
	float:left;
	margin-top: -5px;
}

.inverisa_logo {
    float: left;
    margin-left: 50px;
}

.inverisa_logo_pro {
    float: left;
    width: 97%;
    margin-top: 10px;
    padding-left: 3%;
}
.inverisa_logo_pro h3 {
  margin: 0 0 5px 0;
}
#contenido_footer{
	width:500px;
	height:45px;
	float:right
}

/*Clases*/

.boton_marcado{
	color:#F00;
}

.boton_marcado_b{
	color:#000;
}


/*Estructuras Boton Empresa*/

#botonera_b{
	float:left;	
	width:880px;
	height:35px;
	/*margin-top:10px;*/
	margin-bottom:10px;
	border-bottom:1px dotted #CCC;	
}

#botonera_b a{
	font-size:11px;
	padding-right:15px;
	padding-left:15px;
	border-left:1px solid #CCC;
	line-height:35px;
	text-decoration:none;
	color:#CCC;
}

#botonera_b a:hover{
	color:#F00;
}

#contenedor_imagen_Empresa{
	width:385px;
	height:auto;
	float:left;
	margin-top:30px;
	margin-bottom:30px
}

#contenedor_texto_empresa{
	width:470px;
	height:auto;
	float:right;
	margin-top:12px;
	margin-bottom:30px;
	background-image:url(../img/fondo_contenido.jpg);
	background-repeat:no-repeat;
	background-position:center;
}

.letra_grande{
	font-size:13px;
}

#contenedor_prensa{
	width:952px;
	height:auto;
	overflow:hidden;
	margin-top:15px;	
	background-image:url(../img/fondo_contenido.jpg);
	background-repeat:no-repeat;
	background-position:center;	
}

#caluga_noticia{
	width:880px;
	height:120px;
	margin-top:15px;
	float:left;
	overflow:hidden;
}

#imagen_caluga{
	width:300px;
	height:300px;
	float:left;
}

#imagen_caluga_sd{
	width:120px;
	height:120px;
	float:left;
}

#caluga_noticia_texto{
	width:550px;
	height:120px;
	float:left;
	line-height:8px;
	margin-left:20px;
}

#caluga_noticia_texto p{
	font-style:italic;
}

#caluga_noticia_texto a{
	color:#999;
}

#caluga_noticia_texto a:hover{
	color:#F00;
}

/*Contenidos Obras*/

#contenedor_obras{
	width:880px;
	height:auto;
	overflow:hidden;
	margin-top:15px;	
	background-image:url(../img/fondo_contenido.jpg);
	background-repeat:no-repeat;
	background-position:center;	
}

#contenedor_obras a{
	color:#999;
}

#contenedor_obras a:hover{
	color:#F00;
}

#caluga_proyecto{
	width:880px;
	height:auto;
	margin-top:10px;
	margin-bottom:20px;
	float:left;
}

#imagen_caluga{
	width:220px;
	height:234px;
	float:left;
}

#contenedor_titulos_proyecto{
	width:400px;
	height:30px;
	float:left;
}

#contenedor_datos_proyecto{
	width:450px;
	height:auto;
	float:left;
	background-color:#F3F3F3;
	margin-left:20px;
}

#contenedor_datos_proyecto td{
	padding:10px;
	text-align:justify;
	font-size:11px;
	line-height:5px;
}

/*Estilos del Formulario*/

#contenedor_formulario{
	width:500px;
	height:auto;
	margin-top:20px;
	margin-left:200px;
	float:center;
}

.contacto{
	margin-left:0px;
    border: 1px solid #CCC;
    border-radius: 2px;
    padding: 30px 45px 20px;
    margin-top: 20px;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #CCC inset;
}

.contacto label{
    display: block;  /*esto es para que el label se sobreponga a la caja de texto */
    font-weight: bold;
}
.contacto div{
    margin-bottom: 12px; /* esto los separara un poco */
}

.contacto input[type='text'], .contacto textarea{
    padding: 7px 6px;
    width: 330px; /* una longitud definida */
    border: 0.5px solid #999;
    resize: none;  /*esta propiedad es para que el textarea no sea redimensionable */
    margin: 1px 0;
	border:1px solid #CCC;		
}
.contacto input[type='text']:focus, .contacto textarea:focus{
    outline: none; /* reset especifico para Chrome/Safari */
    box-shadow:0 0 0 3px #dde9ec;
}

.contacto input[type='submit']{
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 1px #EEF5F7;
    padding: 8px 16px;
    font-weight: bold;
    text-shadow: 1px 1px 0px white;
}

.contacto input[type='submit']:hover{
    background: #edfcff;
    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}

.contacto input[type='submit']:active{
    background: #cfe6ef;
    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
    background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}

.result_fail{
    background: none repeat scroll 0 0 #BC1010;
    border-radius: 10px 10px 10px 10px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
}
.result_ok{
    background: none repeat scroll 0 0 #1EA700;
    border-radius: 10px 10px 10px 10px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    text-align: center;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}